@page
@model WebImage.Pages.JsonModel

@{
    ViewData["Title"] = "Generate Json";
    var user = TempData["user"];

    var selectedImageList = Model.ijpModel.MyFiles.Where(x => x.IsSelected).ToList();
    var unSelectedImageList = Model.ijpModel.MyFiles.Where(x => !x.IsSelected).ToList();
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<style>
    .list-group-item.active {
        background-color: #cce5ff;
        color: #000000;
    }

    img:hover {
        /*filter: brightness(150%);*/
        opacity: 1;
        /*background-color: #2C7FD2;*/
        background-color: #ffc107;
    }

    .box {
        width: 100px;
        height: 100px;
        margin: 20px;
        border: 0px solid #ff6703;
        padding: 5px;
    }

    .smallbox {
        width: 200px;
        height: 200px;
    }

    #dragtarget img {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .selectedbox {
        background-color: gainsboro;
        opacity: 0.4;
        border: 5px solid #ff6703;
    }

    .card-title {
        font-size: 12px;
    }

    .card-text {
        font-size: 10px;
    }

    #geturl div {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;
        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    #urltext {
        height: 0px;
        border-width: 0px;
    }

    #dragsource {
        margin-top: 10px;
    }
</style>

<script>
    var typeSelected = "";

    function fileSelected() {
        var getIds = [];
        $("#dragtarget img").each(function () {
            getIds.push(this.id);
        });
        return getIds.join();
    }

    function params()
    {
        //var pupr = $("div.btn-group button.btn-warning").text();
        var pro = $("#profile").val();
        var par = fileSelected() + "|" + typeSelected + "|" + pro;

        return par;
    }


    function optionList()
    {
        var optionlist = '';
        optionlist += $("#imageUrl").prop("checked") + ",";
        optionlist += $("#imageEmbed").prop("checked");

        return optionlist;
    }


    function paramsRemoveFile(id)
    {
        var pupr = $("div.btn-group button.btn-warning").text();
        var pro = $("#profile").val();
        var par = fileSelected() + "|" + id + "|" + pupr + "|" + pro;

        return btoa(par);
    }


    function removeFromSelectionList(id) {
        location.href = '@Url.Action("RemoveFromSelectionList", "Home")?pars=' + paramsRemoveFile(id);
    };


    function addToSelectionList() {
        location.href = '@Url.Action("AddToSelectionList", "Home")?pars=' + btoa(params());
    };

    function copylink() {
        $("#urltext").val($("#geturl div").text().trim());
        var copyText = $("#urltext");
        copyText.select();
        document.execCommand("copy");
        $("#copybutton").text("Copied!");
        $("#copybutton").prop("disabled", true);
    }


    function jsonContent(myData) {
        var content = "";

        content += '<div class="row">';
        content += '<div class="col-4">';
        content += '<div class="list-group" id="list-tab" role="tablist">';

        $.each(myData, function (index) {
            content +=  '<a class="list-group-item list-group-item-action" id="list-' + $(this)[0].name + '-list" data-toggle="list" href="#list-' + $(this)[0].name + '" role="tab" aria-controls="' + $(this)[0].name + '">' + $(this)[0].name + '</a>';
        });

        content += '</div>';
        content += '</div>';
        content += '<div class="col-8">';
        content += '<div class="tab-content" id="nav-tabContent">';

        $.each(myData, function (index) {
            var infoImage = "";

            if ($(this)[0].content != "") {
                infoImage += '<img class="img-thumbnail" src="data:image/png;base64,' + $(this)[0].content + '">';
            }
            else
                if ($(this)[0].url != "") {
                    infoImage += '<img class="img-thumbnail" src="https://' + $(this)[0].url + '" class="d-block w-100" alt="' + $(this)[0].name + '">';
                }
            infoImage += "<br/><br/>";
            infoImage += "<div class='alert alert-dark' role='alert'>";
            infoImage += "&nbsp;&nbsp;<strong>Name:</strong> " + $(this)[0].name;
            infoImage += "&nbsp;&nbsp;<strong>Title:</strong> " + $(this)[0].title;
            infoImage += "&nbsp;&nbsp;<strong>Size (KB):</strong> " + $(this)[0].lengthKB;
            infoImage += "&nbsp;&nbsp;<strong>Size (MB):</strong> " + $(this)[0].lengthMB;
            infoImage += "</div>";

            content += '<div class="tab-pane fade " id="list-' + $(this)[0].name + '" role="tabpanel" aria-labelledby="list-' + $(this)[0].name + '-list">' + infoImage + '</div>';
        });

        content += '</div>';
        content += '</div>';
        content += '</div>';

        return content;
    }

    function AjaxJsonImages() {
        var arrurl = "@Model.ijpModel.ApiGetUrl".split("/");
        var urlnoparams = arrurl[arrurl.length - 1];
        var pars = btoa(atob(urlnoparams) + "|" + optionList());

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/api/gallery",
            dataType: "json",
            data: JSON.stringify(pars),
            success: function (response) {
                $("#jsonData").html(jsonContent(response.myData.myJson));
            }
        });
    }

        $(".category").click()
        {
          console.log($(this).attr("id"));

        };


    $(document).ready(function () {

        $("#publicAlert").hide();
        $("#privateAlert").hide();


    $("img.border-danger").click(function () {
        if ($(this).parent().attr("id") != "dragtarget")
        {
            $(this).hide().appendTo("#dragtarget").show('slow');
            addToSelectionList();
        }
        else
        {
            if ($(this).hasClass("private")) {
                $(this).hide().appendTo("#sourcePrivate").show('slow');
            }
            if ($(this).hasClass("public"))  {
                $(this).hide().appendTo("#sourcePublic").show('slow');
            }
            removeFromSelectionList($(this).attr("id"));
        }
    });

    $("#btnPublic").click(function () {
        typeSelected = "Public";
        $("#collapsePrivate").removeClass("show");
        $(this).toggleClass("btn-secondary").toggleClass("btn-warning");
        $("#btnPrivate").addClass("btn-secondary").removeClass("btn-warning");
    });

    $("#btnPrivate").click(function () {
        typeSelected = "Private";
        $("#collapsePublic").removeClass("show");
        $(this).toggleClass("btn-secondary").toggleClass("btn-warning").addClass("show");
        $("#btnPublic").addClass("btn-secondary").removeClass("btn-warning");
    });

    $("#go").click(function () {
        AjaxJsonImages();
    });

    });
</script>

@*<form asp-controller="Home" asp-action="Register" method="post">*@
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class=" btn-group" role="group" aria-label="image buttons">
            @{
                string PublicSelected = (Model.ijpModel.TypeSelected == "Public") ? "btn-warning" : "btn-secondary";
                string PrivateSelected = (Model.ijpModel.TypeSelected == "Private") ? "btn-warning" : "btn-secondary";
            }
            <button type="button" id="btnPublic" class="btn @PublicSelected" data-toggle="collapse" data-target="#collapsePublic" aria-expanded="false" aria-controls="collapsePublic"><i class="fas fa-lock-open" title="Public photos"></i></button>
            <button type="button" id="btnPrivate" class="btn @PrivateSelected" data-toggle="collapse" data-target="#collapsePrivate" aria-expanded="false" aria-controls="collapsePrivate"><i class="fas fa-key" title="Private photos"></i></button>
            <div class="btn-group">
                <button type="button" class="btn btn-warning">Category</button>
                <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="ccc dropdown-menu">
                    @foreach (var item in Model.ijpModel.Category)
                    {
                        <a class="category dropdown-item" id="@item.CategoryId" href="#">@item.Name</a>
                    }
                </div>
            </div>

        </div>
    </div>
    <br />
    <br />
    <div class="row d-flex justify-content-center">
        @{
            string ShowPublic = "";
            string ShowPrivate = "";
            if (!string.IsNullOrEmpty(Model.ijpModel.TypeSelected))
            {
                ShowPublic = (Model.ijpModel.TypeSelected == "Public") ? "show" : "";
                ShowPrivate = (Model.ijpModel.TypeSelected == "Private") ? "show" : "";
            }
        }
        <div class="collapse @(ShowPublic)" id="collapsePublic">
            <div class="row d-flex justify-content-center" role="alert">Public</div>
            <div class="col-12 d-flex flex-row flex-wrap" id="sourcePublic">
                @foreach (var file in unSelectedImageList.Where(x => !x.IsPrivate))
                {
                    <img class="box rounded border border-danger public" src="@Helper.DecodeImage(file.Content)" alt="@file.Name" id="@file.Name">
                }
            </div>
        </div>
        <div class="collapse @(ShowPrivate)" id="collapsePrivate">
            <div class="row d-flex justify-content-center" role="alert">Private</div>
            <div class="col-12 d-flex flex-row flex-wrap" id="sourcePrivate">
                @foreach (var file in unSelectedImageList.Where(x => x.IsPrivate))
                {
                    <img class="box rounded border border-danger private" src="@Helper.DecodeImage(file.Content)" alt="@file.Name" id="@file.Name">
                }
            </div>
        </div>
    </div>
    <br />
    <br />
    @if (selectedImageList.Any())
    {
        <div class="row">
            Insert image as:&nbsp;&nbsp;&nbsp;
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="imageUrl" value="url" checked>
            <label class="form-check-label" for="imageUrl">Url</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="imageEmbed" value="embed" checked>
            <label class="form-check-label" for="imageBase64">Embed</label>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Profile: </span>
                </div>
                <input type="text" id="profile" value="" class="form-control" placeholder="name to identify your images list" aria-label="profile" aria-describedby="basic-addon1">
            </div>
        </div>
    }
    <div class="row">
        <div class="col-12 d-flex flex-row flex-wrap" id="dragtarget">
            @foreach (var file in selectedImageList)
            {
                <img class="box rounded border border-danger" src="@Helper.DecodeImage(file.Content)" alt="@file.Name" id="@file.Name">
            }
        </div>
    </div>
    @if (selectedImageList.Any())
    {
        <br />
        <div class="row">
            <a class="col-12 btn btn-info" id="go" data-toggle="collapse" href="#geturl" role="button" aria-expanded="false" aria-controls="geturl">
                Generate Url
            </a>
        </div>
        <br />
        <div class="row">
            <div class="col-12 collapse" id="geturl">
                <div class="alert alert-info" role="alert">
                    @Model.ijpModel.ApiGetUrl
                </div>
                @*<button class="col-12 btn btn-outline-secondary" id="go">Go!</button>*@
                <input type="text" readonly="readonly" id="urltext" />
            </div>
        </div>
        <div id="jsonData"></div>
        <br />
        <div class="row alert alert-info">
            @*<a class="col-12 btn btn-info" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="imagelayout">
                    ccc
                </a>*@
            @Html.ActionLink("Check your list", "ImageLayout", "Home")
        </div>
    }
</div>
@*</form>*@


