@page
@model WebImage.Pages.MyGalleriesModel

@{
    var selectedImageList = Model.IjpModel.MyFiles.Where(x => x.IsSelected).ToList();

    var selectedGallery = Model.IjpModel.MySavedGalleries.FirstOrDefault(x => x.IsSelected);

    string galleryname = Model.IjpModel.NewGalleryName;
    string gallerydescription = Model.IjpModel.NewGalleryDescription;
    int galleryId = 0;

    if (selectedGallery != null)
    {
        galleryname = selectedGallery.Gallery.Name;
        gallerydescription = selectedGallery.Gallery.Description;
        galleryId = selectedGallery.Gallery.GalleryId;
    }
}

<script src="~/vendor/jquery/dist/jquery.js"></script>
<script src="~/vendor/lightgallery/dist/js/lightgallery-all.js"></script>
<link href="~/vendor/lightgallery/dist/css/lightgallery.css" rel="stylesheet" />
<link href="~/vendor/lightgallery/dist/css/lg-transitions.css" rel="stylesheet" />


<style>
    #jsonPreview {
        width: 100%;
        min-height: 30rem;
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 0.8rem;
        line-height: 1.2;
    }

    .list-group-item {
        background-color: #343a40;
    }

    .card-body {
        padding: 0px;
    }

        .card-body input {
            width: 100%;
        }

    .header {
        font-size: 16px;
    }

    .selectedimages {
        height: 500px;
        overflow: auto;
    }
</style>



@if (Model.IjpModel.MyGalleryNames.Count > 0)
{
    <div class="row" style="margin-top: 10px; margin-bottom: 10px; overflow: unset; ">

        <div class="col-12">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Your Galleries
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (string item in Model.IjpModel.MyGalleryNames)
                    {
                        <a class="dropdown-item" href="@Url.Page("MyGalleries")?gallery=@item.Split('-')[0].Trim()">@item</a>
                    }
                </div>
            </div>
        </div>
    </div>
}

@if (selectedImageList.Count > 0)
{
    <div class="row">
        <div class="col-2">
            <div class="alert alert-dark header" role="alert">Your images</div>
            <div class="card selectedimages">
                <ul class="list-group">
                    @foreach (var image in selectedImageList)
                    {
                        <li class="list-group-item">
                            <div class="card">
                                <img class="card-img-top" src="@image.Thumb" alt="@image.Name">
                                <div class="card-body">
                                    <p class="card-text">
                                        @{
                                            var description = "";
                                            if (selectedGallery != null)
                                            {
                                                description = selectedGallery.GetDescription(image.FileId);
                                            }
                                            else
                                                description = image.Title;
                                        }
                                        Description:<input type="text" class="card-text" value="@description" />
                                    </p>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-2">
            <div class="alert alert-dark header">Choose attributes</div>
            <div class="card">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkName" @Model.IjpModel.AttributeChecked("name")>
                            <label class="custom-control-label" for="checkName">Name</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkTitle" @Model.IjpModel.AttributeChecked("title")>
                            <label class="custom-control-label" for="checkTitle">Title</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkFormat" @Model.IjpModel.AttributeChecked("format")>
                            <label class="custom-control-label" for="checkFormat">Format</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkLength" @Model.IjpModel.AttributeChecked("length")>
                            <label class="custom-control-label" for="checkLength">Length</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkLandscape" @Model.IjpModel.AttributeChecked("landscape")>
                            <label class="custom-control-label" for="checkLandscape">Landscape</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkPixel" @Model.IjpModel.AttributeChecked("pixel")>
                            <label class="custom-control-label" for="checkPixel">Pixel</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkSize" @Model.IjpModel.AttributeChecked("size")>
                            <label class="custom-control-label" for="checkSize">Size</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkResolution" @Model.IjpModel.AttributeChecked("resolution")>
                            <label class="custom-control-label" for="checkResolution">Resolution</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkUrl" @Model.IjpModel.AttributeChecked("url")>
                            <label class="custom-control-label" for="checkUrl">Url</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkContent" @Model.IjpModel.AttributeChecked("content")>
                            <label class="custom-control-label" for="checkContent">Content (heavier)</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-8">
            <div class="alert alert-dark header">This is your API preview</div>
            <div class="card">
                <textarea name="" id="jsonPreview" cols="100" rows="30"></textarea>
            </div>
        </div>

    </div>

    <form asp-page-handler="SaveGallery" asp-route-bookmark="@Model.IjpModel.Bookmark" asp-route-sh="@Model.IjpModel.HideAttributeList" method="post">
        <div class="row" style="margin-top:10px">
            <div class="col-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="galleryname">Name</span>
                    </div>
                    <input type="text" class="form-control" id="inputgalleryname" name="inputgalleryname" placeholder="Name" aria-label="Small" aria-describedby="galleryname" value="@galleryname">
                    <input type="hidden" value="@galleryId" id="galleryid" name="galleryid" />
                </div>
            </div>
            <div class="col-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="gallerydescription">Description</span>
                    </div>
                    <input type="text" class="form-control" id="inputgallerydescription" name="inputgallerydescription" placeholder="Description" aria-label="Small" aria-describedby="gallerydescription" value="@gallerydescription">
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-12">

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width:100%">@Model.IjpModel.ApiUrl</span>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary">Copy url</button>
                        <input type="submit" class="btn btn-outline-secondary" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </form>



}


<script>
    $(document).ready(function () {

        $.ajax({
            type: 'POST',
            url: "/api/gallery?imgs=@Model.IjpModel.Bookmark&hc=@Model.IjpModel.HideAttributeList",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#jsonPreview').text(JSON.stringify(data, undefined, 2));
            },
            error: function (xhr) {
                $('#jsonPreview').text('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
            }
        });

        $("#checkFormat").click(function () {
            window.location.href ='@Url.Page("MyGalleries")?bookmark=@Model.IjpModel.Bookmark&sh=' + showhidecolumn($(this),",format");
        });
        $("#checkSize").click(function () {
            window.location.href ='@Url.Page("MyGalleries")?bookmark=@Model.IjpModel.Bookmark&sh=' + showhidecolumn($(this),",size");
        });
        $("#checkPixel").click(function () {
            window.location.href ='@Url.Page("MyGalleries")?bookmark=@Model.IjpModel.Bookmark&sh=' + showhidecolumn($(this),",pixel");
        });
        $("#checkLandscape").click(function () {
            window.location.href ='@Url.Page("MyGalleries")?bookmark=@Model.IjpModel.Bookmark&sh=' + showhidecolumn($(this),",landscape");
        });
        $("#checkResolution").click(function () {
            window.location.href ='@Url.Page("MyGalleries")?bookmark=@Model.IjpModel.Bookmark&sh=' + showhidecolumn($(this),",resolution");
        });
        $("#checkName").click(function () {
            window.location.href ='@Url.Page("MyGalleries")?bookmark=@Model.IjpModel.Bookmark&sh=' + showhidecolumn($(this),",name");
        });
        $("#checkTitle").click(function () {
            window.location.href ='@Url.Page("MyGalleries")?bookmark=@Model.IjpModel.Bookmark&sh=' + showhidecolumn($(this),",title");
        });
        $("#checkUrl").click(function () {
            window.location.href ='@Url.Page("MyGalleries")?bookmark=@Model.IjpModel.Bookmark&sh=' + showhidecolumn($(this),",url");
        });
        $("#checkContent").click(function () {
            window.location.href ='@Url.Page("MyGalleries")?bookmark=@Model.IjpModel.Bookmark&sh=' + showhidecolumn($(this),",content");
        });
        $("#checkLength").click(function () {
            window.location.href ='@Url.Page("MyGalleries")?bookmark=@Model.IjpModel.Bookmark&sh=' + showhidecolumn($(this),",length");
        });
    });

    function showhidecolumn(chk, column) {
        var columns = atob(showhideattributelist);
        if (chk.prop("checked") == true)
            columns = columns.replace(column, "");
        else
            columns += column;

        showhideattributelist = btoa(columns);
        return showhideattributelist;
    }

</script>

