@page
@model WebImage.Pages.UploadModel

<style>
    .card {
        width: 100px;
        height: 100px;
    }


    .listimages {
        margin-top: 10px;
    }
</style>


<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" multiple class="form-control" />
    <input type="submit" value="Upload" />
</form>

<div class="listimages">
    @foreach (var image in Model.MyContainer.myImages.Images)
    {
        var file = await image.DownloadImage(image.ThumbFileName, image.UserId);
        var isprivate = (image.IsPrivate) ? true : false;

    <div class="row">
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="@Helper.DecodeImage(file)" alt="@image.Name">
                <div class="card-body">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-2">
            @image.Name
        </div>
        <div class="col-2">
            <div class="custom-control custom-checkbox">
                <form method="post">
                    <input type="checkbox" class="custom-control-input" id="isPrivate_@image.FileId" name="isPrivate_@image.FileId" checked="@isprivate">
                    <label class="custom-control-label" for="isPrivate_@image.FileId">Private</label>
                    <input type="hidden" value="@image.FileId" id="imageid" name="imageid" />
                    <button class="btn btn-outline-secondary" asp-page-handler="UpdatePrivateStatus"><i title="Update" class="fas fa-cloud-upload-alt"></i></button>
                </form>
            </div>
        </div>
        <div class="col-2">
            <ul class="list-group">
                @{
                    var galleries = Model.MyContainer.GetMyGalleries(image.FileId, image.UserId);
                    foreach (var gal in galleries.ItemGalleries)
                    {
                        <li class="list-group-item">@gal.Gallery.Name</li>
                    }
                }
            </ul>
        </div>
        <div class="col-3">
        </div>

    </div>
    }

</div>