@model ContentModel

@{
    ViewData["Title"] = "Generate Json";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<style>

    .lighter {
        filter: brightness(150%);
        opacity: 1;
    }

    body {
        background-color: black;
        opacity: 0.7;
        color: darkgray;
    }

    .box {
        width: 100px;
        height: 100px;
        margin: 20px;
        border: 0px solid #ff6703;
        padding: 5px;
    }

    #dragtarget img {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .selectedbox {
        background-color: gainsboro;
        opacity: 0.4;
        border: 5px solid #ff6703;
    }

    .jdisplay {
        padding: 10px;
    }

    div.col-12.d-flex {
        min-height: 100px;
    }

    #JsonLink {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }

    .jdisplay ul {
        list-style-type: none;
    }
</style>


<script>

    function generateJson() {

        var selectedIds = [];
        $("#dragtarget img").each(function () {
            selectedIds.push(this.id);
        });

        var select = btoa(selectedIds.join());






        $.ajax({
            url: 'AddToSelectionList',
            data: {
                selectedFiles: selectedIds.join()
            }
        })
        /*.done(function () {
        $("#dragtarget").removeClass("selectedbox");

        $.getJSON('/api/getselection/' + select,
            function (result) {

                var res = "";
                if (result != null) {
                    if (result.myJson.length > 0) {
                        res += "<ul><strong>myJson</strong>";
                        $.each(result.myJson, function (i, item) {
                            res += "<li><ul>";
                            res += "<li>title: " + item.title + "</li>";
                            res += "<li>lengthKb: " + item.lengthKb + "</li>";
                            res += "<li>lengthMb: " + item.lengthMb + "</li>";
                            res += "<li>url: " + item.url + "</li>";
                            res += "</ul></li>";
                            res += "<br/>";
                        });
                        res += "</ul>";
                    }

                    res += "<ul><strong>stat</strong>";
                    res += "<li>count: " + result.stat.count + "</li>";
                    res += "<li>totalLengthKb: " + result.stat.totalLengthKb + "</li>";
                    res += "<li>totalLengthMb: " + result.stat.totalLengthMb + "</li>";
                    res += "<li>elapsedTime: " + result.stat.elapsedTime.toFixed(10) + "s </li>";
                    res += "</ul>";
                }

                $("#JsonLinkLabel").text("Generated link:");
                $("#JsonPreviewLabel").text("Generated Json content:");
                $("#JsonPreview").html(res);
                $("#JsonLink").html(window.location.protocol + "//" + window.location.host + "/api/getselection/" + select);
                $("#JsonLink").show();
                $("#JsonPreview").show();
            });
        });*/
    };



    function drag(event) {
        event.dataTransfer.setData("text", event.target.id);
    };

    function drop(event) {
        event.preventDefault();
        var selelement = event.dataTransfer.getData("text");
        var elem = $("#" + selelement)[0];
        $(elem).addClass("lighter");
        $(elem).attr("draggable", false);
        $(elem).removeAttr("ondragstart");
        event.target.appendChild(elem);

        generateJson();
    };

    function allowDrop(ev) {
        ev.preventDefault();
        $("#dragtarget").addClass("selectedbox");
    };

    function removeDrop(event) {
        event.preventDefault();
        $("#dragtarget").removeClass("selectedbox");
    };

    $(document).ready(function () {
        //$("#JsonLink").hide();
        //$("#JsonPreview").hide();

        $("img.border-danger").click(function () {

            if ($(this).parent().attr("id") != "dragtarget") {
                $(this).hide().appendTo("#dragtarget").show('slow');
            }
            else {
                $(this).hide().appendTo("#dragsource").show('slow');
            }

            generateJson();
        });

        $("img").hover(function () {
            $(this).toggleClass("lighter");
        });


    });
</script>

<div class="container">
    <div class="row">
        <div class="col-12">
            Your selection
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-row border flex-wrap" ondrop="drop(event)" ondragover="allowDrop(event)" id="dragtarget" ondragleave="removeDrop(event)">
            @foreach (var file in Model.SelectedFiles)
            {
                <div>
                    <img class="box rounded border border-warning" src="@Url.Content(file.Path)" alt="@file.Name" id="@file.Name">
                    <span>title</span>
                </div>

                @*<ul>
                <li>title:  @file.Title</li>
                <li>lengthKb: @file.LengthKb</li>
                <li>lengthMb: @file.LengthMb</li>
                <li>url: @file.Url </li>
            </ul>*@

            }
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Your images
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-row border flex-wrap" id="dragsource">
            @foreach (var file in Model.UnselectedFiles)
            {
                <img class="box rounded border border-danger" src="@Url.Content(file.Path)" alt="@file.Name" id="@file.Name" draggable="true" ondragstart="drag(event)">
            }
        </div>
    </div>
    <br />
    <br />
    <p id="JsonLinkLabel"></p>
    <div class="row border jdisplay" id="JsonLink"></div>
    <br />
    <br />
    <br />
    <br />
    <p id="JsonPreviewLabel"></p>
    <div class="row border jdisplay" id="JsonPreview">
    </div>
    @foreach (var file in Model.SelectedFiles)
    {
    <p>ciao</p>
        <p>@file.Title.ToString()</p>
        @*<ul>
                <strong>myJson</strong>
                <li>
                    <ul>
                        <li>title:  @file.Title</li>
                        <li>lengthKb: @file.LengthKb</li>
                        <li>lengthMb: @file.LengthMb</li>
                        <li>url: @file.Url </li>
                    </ul>
                </li>
                <br />
            </ul>*@
    }
</div>
