@model ContentModel

@{
    ViewData["Title"] = "Generate Json";

    var selectedImageList = Model.MyFiles.Where(x => x.IsSelected == true).ToList();
    var unSelectedImageList = Model.MyFiles.Where(x => x.IsSelected == false).ToList();
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<style>

    .lighter {
        filter: brightness(150%);
        opacity: 1;
        background-color: #2C7FD2;
    }

    .box {
        width: 100px;
        height: 100px;
        margin: 20px;
        border: 0px solid #ff6703;
        padding: 5px;
    }

    #dragtarget img {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .selectedbox {
        background-color: gainsboro;
        opacity: 0.4;
        border: 5px solid #ff6703;
    }


    /*div.col-12.d-flex {
            min-height: 100px;
        }*/

    /*.card {
            margin: 10px;
            flex-direction: row;
            padding: 10px;
        }

        .card-body {
            padding: 0px;
            padding-left: 10px;
        }*/

    /*.card-body a {
                padding-bottom: 10px;
                height: 20px;
                display: inline-table;
            }*/

    .card-img-top {
        width: 100px;
        height: 100px;
    }

    .card-title {
        font-size: 12px;
    }

    .card-text {
        font-size: 10px;
    }

    #geturl div {
        /*display: flex;
            flex-direction: column;
            flex-wrap: nowrap;*/
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;
        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    #urltext {
        height: 0px;
        border-width: 0px;
    }

    #dragsource {
        margin-top: 10px;
    }
</style>

<script>

    function fileSelected() {
        var getIds = [];
        $("#dragtarget img").each(function () {
            getIds.push(this.id);
        });

        return btoa(getIds.join());
    }

    function selectionList() {
        location.href = '@Url.Action("AddToSelectionList", "Home")?selectedFiles=' + fileSelected();
    };

    function copylink() {
        $("#urltext").val($("#geturl div").text().trim());
        var copyText = $("#urltext");
        copyText.select();
        //copyText.setSelectionRange(0, 99999); /*For mobile devices*/
        document.execCommand("copy");
        $("#copybutton").text("Copied!");
        $("#copybutton").prop("disabled", true);
    }



$(document).ready(function () {
    $("img.border-danger").click(function () {

        if ($(this).parent().attr("id") != "dragtarget")
        {
            $(this).hide().appendTo("#dragtarget").show('slow');
        }
        else
        {
            $(this).hide().appendTo("#dragsource").show('slow');
        }

        selectionList();
    });

    $("#btnPublic").click(function () {
        $("#collapsePrivate").removeClass("show");
        $(this).toggleClass("btn-secondary").toggleClass("btn-warning");
        $("#btnPrivate").addClass("btn-secondary").removeClass("btn-warning");
    });

    $("#btnPrivate").click(function () {
        $("#collapsePublic").removeClass("show");
        $(this).toggleClass("btn-secondary").toggleClass("btn-warning");
        $("#btnPublic").addClass("btn-secondary").removeClass("btn-warning");
    });


    $("#go").click(function () {
            window.open('@Model.ApiGetUrl','_blank');
    });

    $("img").hover(function () {
        $(this).toggleClass("lighter");
    });

    });
</script>

<div class="container-fluid">
    @*<div class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>*@

    @*<div class="row">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <div class="alert alert-info" role="alert">
                        Click on to add to your list
                    </div>
                </div>
                <div class="btn-group" role="group" aria-label="image buttons">
                    <button type="button" id="btnPublic" class="btn btn-secondary" data-toggle="collapse" data-target="#collapsePublic" aria-expanded="false" aria-controls="collapsePublic">Public</button>
                    <button type="button" id="btnPrivate" class="btn btn-secondary" data-toggle="collapse" data-target="#collapsePrivate" aria-expanded="false" aria-controls="collapsePrivate">Private</button>
                </div>
            </div>
        </div>*@

    @*<div class="row">
            <div class="col-12 alert alert-info" role="alert">
                Click on to add to your list
            </div>
        </div>*@
    <div class="row">
        <div class=" btn-group" role="group" aria-label="image buttons">
            @*<div class="col-9 card">
                <div class="card-body">
                    Select public or private photos
                </div>
            </div>*@
            <button type="button" id="btnPublic" class="btn btn-secondary" data-toggle="collapse" data-target="#collapsePublic" aria-expanded="false" aria-controls="collapsePublic">Public</button>
            <button type="button" id="btnPrivate" class="btn btn-secondary" data-toggle="collapse" data-target="#collapsePrivate" aria-expanded="false" aria-controls="collapsePrivate">Private</button>
            <div class="card">
                <div class="card-body">
                    Click on to add to your list
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="collapse" id="collapsePublic">
            <div class="col-12 d-flex flex-row border flex-wrap" id="sourcePublic">
                @foreach (var file in unSelectedImageList.Where(x => !x.IsPrivate))
                {
                    <img class="box rounded border border-danger" src="@Url.Content(file.Path)" alt="@file.Name" id="@file.Name">
                }
            </div>
        </div>
        <div class="collapse" id="collapsePrivate">
            <div class="col-12 d-flex flex-row border flex-wrap" id="sourcePrivate">
                @foreach (var file in unSelectedImageList.Where(x => x.IsPrivate))
                {
                    <img class="box rounded border border-danger" src="@Url.Content(file.Path)" alt="@file.Name" id="@file.Name">
                }
            </div>
        </div>
    </div>


    @*<div class="row">
                <div class="col-12 alert alert-info" role="alert">
                    Public
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex flex-row border flex-wrap" id="dragsource">
                    @foreach (var file in unSelectedImageList.Where(x => !x.IsPrivate))
                    {
                        <img class="box rounded border border-danger" src="@Url.Content(file.Path)" alt="@file.Name" id="@file.Name">
                    }
                </div>
            </div>
        <br />
        <br />
        <div class="row">
            <div class="col-12 alert alert-info" role="alert">
                Private
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex flex-row border flex-wrap" id="dragsource">
                @foreach (var file in unSelectedImageList.Where(x => x.IsPrivate))
                {
                    <img class="box rounded border border-danger" src="@Url.Content(file.Path)" alt="@file.Name" id="@file.Name">
                }
            </div>
        </div>*@
    <br />
    <br />
    <div class="row">
        <div class="col-12 alert alert-info" role="alert">
            Your selection: click on to remove from the list.
        </div>
    </div>
    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Profile: </span>
            </div>
            <input type="text" class="form-control" placeholder="give a name to identify your image group" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-row border flex-wrap" id="dragtarget">
            @foreach (var file in selectedImageList)
            {
                <img class="box rounded border border-danger" src="@Url.Content(file.Path)" alt="@file.Name" id="@file.Name">
            }
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    @if (selectedImageList.Any())
    {
        <div class="row">
            <a class="col-12 btn btn-info" data-toggle="collapse" href="#geturl" role="button" aria-expanded="false" aria-controls="geturl">
                Show me the url
            </a>
        </div>
        <br />
        <div class="row">
            <div class="collapse" id="geturl">
                @*<button class="btn btn-outline-secondary" onclick="copylink()" id="copybutton">Copy me</button>*@
                @*<button class="btn btn-outline-secondary" id="go">Go!</button>*@
                @*<br /><br />*@
                <div class="alert alert-info" role="alert">
                    @Model.ApiGetUrl
                </div>
                <button class="col-12 btn btn-outline-secondary" id="go">Go!</button>
                <input type="text" readonly="readonly" id="urltext" />
            </div>
        </div>
    }
    <br />
    <br />
    @*<p id="JsonPreviewLabel"></p>
        <div class="row alert alert-info" role="alert">
            @{ foreach (var file in selectedImageList)
                {
                    <div class="card border border-info">
                        <img src="@file.Path" class="card-img-top" alt="@file.Title">
                        <div class="card-body">
                            <h5 class="card-title">@file.Title</h5>
                            <p class="card-text">size: @file.LengthKb (KB) - @file.LengthMb (MB)</p>
                            <a href="" class="btn btn-info">Click</a>
                        </div>
                    </div>
                }
            }
        </div>*@
</div>
