@model ContentModel

@{
    ViewData["Title"] = "Generate Json";

    var selectedImageList = Model.MyFiles.Where(x => x.IsSelected == true).ToList();
    var unSelectedImageList = Model.MyFiles.Where(x => x.IsSelected == false).ToList();

}

<script src="~/lib/jquery/dist/jquery.js"></script>

<style>

    .lighter {
        filter: brightness(150%);
        opacity: 1;
    }

    .infoimg {
        background-color: black;
        opacity: 0.7;
        color: darkgray;
    }

    .box {
        width: 100px;
        height: 100px;
        margin: 20px;
        border: 0px solid #ff6703;
        padding: 5px;
    }

    #dragtarget img {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .selectedbox {
        background-color: gainsboro;
        opacity: 0.4;
        border: 5px solid #ff6703;
    }


    div.col-12.d-flex {
        min-height: 100px;
    }

    #JsonPreview div.card {
        margin:10px;
        width: 30px;
    }

</style>

<script>

function fileSelected() {

    var getIds = [];
    $("#dragtarget img").each(function () {
        getIds.push(this.id);
    });

    return btoa(getIds.join());
}


function generateJson() {
    location.href = '@Url.Action("AddToSelectionList", "Home")?selectedFiles=' + fileSelected();
};


$(document).ready(function () {
    $(".infoimg").hide();
    $("img.border-danger").click(function () {

        if ($(this).parent().attr("id") != "dragtarget") {
            $(this).hide().appendTo("#dragtarget").show('slow');
        }
        else {
            $(this).hide().appendTo("#dragsource").show('slow');
        }

        generateJson();
    });

    //$("#dragtarget img").hover(function () {
    //    $(this).next(".infoimg").toggle();
    //});


    $("img").hover(function () {
        $(this).toggleClass("lighter");
    });


});
    </script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                Your selection
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex flex-row border flex-wrap" id="dragtarget">
                @foreach (var file in selectedImageList)
                {
                    <img class="box rounded border border-warning" src="@Url.Content(file.Path)" alt="@file.Name" id="@file.Name">
                    @*<div class="infoimg">
                            <p>@file.Title</p>
                            <p>size: @file.LengthKb (KB) - @file.LengthMb (MB)</p>
                            <p>url: @file.Url </p>
                        </div>*@
                }
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                Your images
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex flex-row border flex-wrap" id="dragsource">
                @foreach (var file in unSelectedImageList)
                {
                    <img class="box rounded border border-danger" src="@Url.Content(file.Path)" alt="@file.Name" id="@file.Name">
                }
            </div>
        </div>
        <br />
        <br />
        @*<div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Web API [Get]</h4>
                <p>This is the GET for your API.</p>
                <hr>
                <p class="mb-0">@Model.ApiGetUrl</p>
            </div>*@

        <p>
            <a class="btn btn-info" data-toggle="collapse" href="#geturl" role="button" aria-expanded="false" aria-controls="geturl">
                Show your generated url
            </a>
        </p>
        <div class="collapse" id="geturl">
            <div class="card card-body">
                @Model.ApiGetUrl
            </div>
        </div>
        <br />
        <br />
        <p id="JsonPreviewLabel"></p>
        <div class="row alert alert-info" role="alert" id="JsonPreview">
            @{ foreach (var file in selectedImageList)
                {
                    <div class="card" style="width: 18rem;">
                        <img src="@file.Path" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@file.Title</h5>
                            <p class="card-text">size: @file.LengthKb (KB) - @file.LengthMb (MB)</p>
                            <a href="http://@file.Url" class="btn btn-info">Click</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
