@model ContentModel

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var file in Model.Files)
{
    <div style="display:inline-block">
        <div style="float:left; width:400px">
            <img src="@Url.Content(file.Path)" class="img-responsive" style="height:200px">
        </div>

        <div style="float:right; left:400px;">
            <ul>
                <li><strong>Title: </strong>@file.Title</li>
                <li><strong>Name: </strong>@file.Name</li>
                <li><strong>Url: </strong>@file.Url</li>
                <li><strong>Extension: </strong>@file.Extension</li>
                <li><strong>Length (KB): </strong>@file.LengthKb</li>
                <li><strong>Length (MB): </strong>@file.LengthMb</li>
                <li><a href="@file.Path">View</a></li>
            </ul>
        </div>
    </div>
}

<br />
<br />
<span>Max Length (Kb): </span>@Html.TextBoxFor(x => x.MaxLen)
<br />
@*<a href="@Url.Action("GetList", "Home")">Json</a>*@
@*<a href="@Url.Action("GetList", "Home", new {MaxLengthKB=Model.MaxLen})">Json</a>*@
@*@Html.ActionLink("Json", "GetList", "Home", new { MaxLengthKB = 50 })*@

<a asp-action="GetList" asp-controller="Home" asp-route-id="1000">Json</a>
