@model ContentModel

@{
    ViewData["Title"] = "Home Page";
    var SelectedFiles = TempData["selectedFiles"];
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<style>

    .box {
        width: 100px;
        margin: 20px;
    }

    .card-img-top {
        position: relative;
        border: 2px solid #F1F13A;
    }

    .selectedImages img {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .selectedbox {
        /* border:10px solid red;*/
        background-color: red;
    }
</style>


<script>

function drag(event) {
    event.dataTransfer.setData("text", event.target.id);
};

function drop(event) {
    event.preventDefault();
    var widgetName2 = event.dataTransfer.getData("text");
    event.target.appendChild(document.getElementById(widgetName2));
    var selectedIds = [];
    $("#dragtarget img.box.card-img-top").each(function () {
        selectedIds.push(this.id);
    });


    //$("#dragtarget").hover(function () {
    //    $(this).addClass("selectedbox");
    //});

    $.ajax({
        url: 'Home/AddToSelectionList',
        data: {
            filename: widgetName2,
            selectedFiles: selectedIds.join()
        }
    }).done(function () {
          //  alert("done");
        });




};

function allowDrop(ev) {
    ev.preventDefault();
    var idDest = ev.target.id;
};

function removeDrop(event) {
    event.preventDefault();
    var idDest = event.target.id;
};


$( "#dragtarget" ).droppable({
    hoverClass: "ui-state-active",
    drop: function( event, ui ) {
        $( this )
            .addClass( "ui-state-highlight" )
            .html( "Dropped!" );
    }
});

$(document).ready(function (event) {
    //$(".box.card-img-top").click(function () {
    //console.log($(this).html());
    //$(".selectedImages").append($(this).html());
    //$(this.remove());
    //});

    //$(".selectedImages img").click(function () {


    //});


    /*  $("#dragtarget").hover(function () {

          $(this).addClass("selectedbox");
      });*/


});
</script>

<div class="container">
    <div class="row">
        <div class="col-10 d-flex flex-row border flex-wrap">
            @foreach (var file in Model.Files)
            {
                <img class="box card-img-top" src="@Url.Content(file.Path)" alt="@file.Name" id="@file.Name" draggable="true" ondragstart="drag(event)">
            }
        </div>
        <div class="col-2 border" ondrop="drop(event)" ondragover="allowDrop(event)" id="dragtarget" ondragleave="removeDrop(event)">
            @*<div class="selectedImages" />*@
            @if (Model.SelectedFiles != null)
            {
                @foreach (var file in Model.SelectedFiles)
                {
                    <img class="box card-img-top" src="@Url.Content(file.Path)" alt="@file.Name" id="@file.Name">
                }
            }
        </div>

    </div>
    <div class="row border d-flex p-2 bd-highlight">
        <span>Max Length (Kb): </span>@Html.TextBoxFor(x => x.MaxLen)
        <br />
        @*<a href="@Url.Action("GetList", "Home")">Json</a>*@
        @*<a href="@Url.Action("GetList", "Home", new {MaxLengthKB=Model.MaxLen})">Json</a>*@
        @*@Html.ActionLink("Json", "GetList", "Home", new { MaxLengthKB = 50 })*@
        <a asp-action="GetList" asp-controller="Home" asp-route-id="1000">Json up to....</a>
        <a asp-action="GetListSelection" asp-controller="Home" asp-route-id="1000">Json with selected images</a>
    </div>


</div>
<br />
<br />
<br />
<br />
